{% load static %}

<style>
.footer {
  background: #3C3B3B;
  color: #cfcfcf;
  padding: 40px 0 0 0;
}
.footer a.text-secondary {
  color: #9CA3AF !important;
}
.footer a.text-secondary:hover {
  color: #f8f9fa !important;
  text-decoration: underline !important;
}
.footer h5 {
  font-size: 1.1rem !important;
}
.footer .bi {
  vertical-align: middle !important;
}
</style>

<div class="container my-4" id="contacts-section">
    <div class="row align-items-stretch">
      <div class="col-md-4 d-flex flex-column justify-content-center p-4" style="background-color: #f6f4f5;">
        <div class="mb-2" style="font-weight: 500; color: #232323">Связаться с нами</div>
        <div class="mb-2 d-flex align-items-center" style="color: #C74141; font-size: 1.13rem;">
          <i class="bi bi-person-circle me-2" style="color:#B74141;"></i>Алексей
        </div>        
        <a href="tel:+77777218363" class="d-block mb-2" style="color: #C74141; text-decoration:none;">
          <i class="bi bi-telephone text-black me-2 mt-1"></i>+7 (777) 721-83-63</a>
        <a href="mailto:kntognezachita@gmail.com" class="mb-3 d-block" style="color: #C74141;">
          <i class="bi bi-envelope text-black me-2"></i>kntognezachita@gmail.com</a>
        <div class=" mt-2 mb-1" style="font-weight: 500; color: #232323">Наш офис и склад</div>
        <div class="mb-2" style="color: #C74141;">
          г. Алматы, Жетысуский<br>район,
          ул. Венецианова<br> 37, 3-й этаж, офис 5
        </div>
        <div class=" mt-2 mb-1" style="font-weight: 500; color: #232323">Время работы</div>
        <div style="color: #C74141;">
          Пн-Пт: 8:00–17:00<br>
          Сб-Вс: - выходные
        </div>
      </div>
      <div class="col-md-8">
        <div class="ratio ratio-21x9 h-100">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A852a93248880399137a2eb62bf956d443fa2d792afb7b84d7c2f06b3f09250bc&amp;source=constructor"
                  width="100%" height="538" frameborder="0" style="border:0; display:block;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer" class="footer text-white pt-5 pb-3">
  <div class="container">
        {% comment %} <!-- карта -->
        <div class="row mb-4">
          <div class="col-12">
            <div class="ratio ratio-21x9 rounded shadow-sm">
              <!-- замените координаты на точные при необходимости -->
              <!-- <iframe
                src="https://yandex.ru/map-widget/v1/?ll=76.897,43.289&z=16&pt=76.897,43.289,pm2rdm"
                loading="lazy" frameborder="0" allowfullscreen
                title="Карта расположения"></iframe> -->
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A852a93248880399137a2eb62bf956d443fa2d792afb7b84d7c2f06b3f09250bc&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
            </div>
          </div>
        </div> {% endcomment %}
    <div class="row mb-4">
      <!-- 1. Огнезащита объектов -->
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <h5 class="fw-bold mb-4">Огнезащита объектов</h5>
        <ul class="list-unstyled text-secondary mb-3">
          <!-- <li><a href="#" class="text-secondary text-decoration-none d-inline-block mb-4 ">Для металлоконструкций</a></li>
          <li><a href="#" class="text-secondary text-decoration-none d-inline-block mb-4">Огнезащитная обработка дерева</a></li>
          <li><a href="#" class="text-secondary text-decoration-none d-inline-block mb-4">Защита кабельных линий и кабельных проходок</a></li> -->
          <li><a href="{% static 'files/Каталог ООО ПОЛИХИМ-Д.pdf' %}" target="_blank" class="text-secondary text-decoration-none d-inline-block mb-4">Каталог PDF</a></li>
          <li><a href="{% url 'landing_index' %}#catalog" class="text-secondary text-decoration-none d-inline-block mb-4">Все продукты</a></li>
        </ul>
        <div class="mt-4 mb-2 fw-bold">Социальные сети</div>
        <div>
          <a href="https://www.instagram.com/pnacompany?igsh=YW11ZGJ6eDNhYjhq" target="_blank" rel="noopener" class="text-secondary fs-5 me-3" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://wa.me/77474347258" target="_blank" rel="noopener" class="text-secondary fs-5" aria-label="WhatsApp"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>

      <!-- 2. Информация -->
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <h5 class="fw-bold mb-4">Информация</h5>
        <ul class="list-unstyled text-secondary">
          <li><a href="#contacts-section" class="text-secondary text-decoration-none mb-4 d-inline-block">Контакты</a></li>
          <li><a href="{% url 'delivery' %}#delivery-section" class="text-secondary text-decoration-none mb-4 d-inline-block">Доставка</a></li>
          <li><a href="{% url 'delivery' %}#payment" class="text-secondary text-decoration-none mb-4 d-inline-block">Способы оплаты</a></li>
        </ul>
      </div>

      <!-- 3. О компании -->
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <h5 class="fw-bold mb-4">О компании</h5>
        <ul class="list-unstyled text-secondary">
          <li><a href="{% url 'about' %}#about-section" class="text-secondary text-decoration-none d-inline-block mb-4">О нас</a></li>
          <li><a href="{% url 'feedback' %}#feedback-section" class="text-secondary text-decoration-none d-inline-block mb-4">Объекты</a></li>
          <li><a href="{% url 'feedback' %}#responses" class="text-secondary text-decoration-none d-inline-block mb-4">Отзывы клиентов</a></li>
        </ul>
      </div>


    <!-- Линия и копирайт -->
    <div class="border-secondary pt-3 text-secondary " style="opacity:0.7;">
      COPYRIGHT © 2025 «KnT»<br>
      ОГРН 1175275035319 | ИНН 5249156277 | КПП 524901001 <br>
      Правообладатель: ООО «ПОЛИХИМ-Д»
    </div>
    
  </div>
</footer>
