{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
  <div class="container">
    {% regroup products by category as categories_list %}

    {% for cat in categories_list %}
      <div class="mb-5">
        <div class="d-flex align-items-center mb-4">
          <h2 class="h3 me-3 mb-4 " style="font-size:1.7rem; font-weight:400; margin-bottom:2.5rem;">
            Огнезащитные краски для <span style="color:#e74c3c;">{{ cat.grouper.title_in_list }}</span>
          </h2>
          {% comment %} <div class="flex-grow-1" style="height:2px; max-width:120px; background-color:#DE2E26;"></div> {% endcomment %}
        </div>

        {% for product in cat.list %}
        <div class="row align-items-center mb-5">
          <div class="col-md-7">
            <h4 class="fw-bold mb-2" style="font-size:1.2rem;">{{ product.name }}</h4>
            {% if product.subtitle %}
              <div class="mb-2 text-muted" style="font-size:1.1rem;">{{ product.subtitle }}</div>
            {% endif %}
            {% comment %} <div class="mb-2 text-secondary small">{{ product.category.name }}</div> {% endcomment %}
            {% comment %} <p class="card-text mb-3">{{ product.description }}</p> {% endcomment %}
            {% if product.benefits %}
            <ul class="ps-0" style="font-size: 1.08rem; list-style:none;">
              {% for b in product.benefits %}
              <li class="mb-1">
                <i class="bi bi-chevron-right text-danger me-1"></i>
                {{ b }}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            <a href="{% url 'product_detail' slug=product.slug %}" class="btn p-0 m-0 mt-3 ms-4 text-danger fw-medium small" style="background: none; border: none; text-decoration: none;">
                Подробнее &gt;&gt;
            </a>
          </div>
          <div class="col-md-5 text-center">
            {% if product.image %}
              <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" style="max-height:200px; object-fit:cover;">
            {% else %}
              <span class="text-secondary small">Нет изображения</span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<style>
.text-muted {
  color: #374151 !important;
}
</style>

{% endblock %}


<!-- Проверка -->
{% comment %} <style>
  * {
    outline: 1px solid red;
  }
</style> {% endcomment %}
